.productsList {
  height: 175px;
  width: 150px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px rgb(236, 235, 235);
  margin: 20px;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.addIcon {
  height: 60px !important;
  width: 60px !important;
  padding: 10px;
  color: #908e8ebf;
  background-color: #d3d3d33b;
  border: 1px lightgray;
  border-radius: 5px !important;
}

.selectedlogo {
  height: 35px !important;
  width: 35px !important;
}

.selectedProduct {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.productName {
  font-size: 14px !important;
  font-weight: 700 !important;
  padding-top: 10px !important;
  color: #111 !important;
}

.remove {
  color: red;
  font-size: 12px !important;
  display: flex;
  font-weight: 600 !important;
  margin-top: 35px !important;
  cursor: pointer;
  align-items: center
}

.removeCircle {
  font-size: 20px !important;
  padding-right: 5px !important;
}
